extends base

block content
  main.main
    .resend-form
      h2.heading-secondary.ma-bt-lg Enter Email Address
      form#forgot-password--form.form
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required) 
        .form__group
          button#forgot-password--btn.btn.btn--green Send Reset link