extends base

block content
  main.main
    .resend-form
      h2.heading-secondary.ma-bt-lg Resend Confirmation Email
      form#resendConfirmationEmail--form.form
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required) 
        .form__group
          button.btn.btn--green Resend Email