extends base

block content
  main.main
    #resetPasswordToken(data-token=`${token}`)
    .login-form
      h2.heading-secondary.ma-bt-lg Reset Password Form
      form#reset-password--form.form
        .form__group.ma-bt-md
          label.form__label(for='password') New Password
          input#new-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-md
          label.form__label(for='password') Confirm New Password
          input#confirm-new-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.login-form-group
          button#password-reset--btn.btn.btn--green Save Password
          